.palette, .export-container {
    display: flex;
    flex-wrap: wrap;
}

.swatch {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ACACAC;
}

.selected-swatch {
    border: 2px solid #333;
}

/* Added CSS for grid lines */
.grid-cell {
    border: 1px solid #9a9a9a;
}
