.palette, .export-container {
    display: flex;
    flex-wrap: wrap;
}

.swatch {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ACACAC;
}

.selected-swatch {
    border: 2px solid #333;
}

/* Added CSS for grid lines */
.grid-cell {
    border: 1px solid #9a9a9a;
}

/* CSS styles for the code container */
.code-container {
    max-width: 100%;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.export-text-box {
    white-space: pre-wrap;
    word-break: break-all;
    font-family: monospace;
    min-height: 100px; /* Set an appropriate minimum height */
}
